/* Remove focus highlight for THIS TextArea only */
#textArea:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.context-menu {
    -fx-background-color: #cfcfcf;
    -fx-padding: 4px;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
}

.menu-item {
    -fx-padding: 6px 12px;
    -fx-background-radius: 20px;
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: #f1ebeb;
    -fx-text-fill: black;
}

.menu-item:hover > .label {
    -fx-text-fill: black;
}